userDir/flows.json
[{"id":"dc9cf18bb9eee563","type":"tab","label":"OMRON TRAINING","disabled":false,"info":"","env":[]},{"id":"885fafb2509378d2","type":"group","z":"dc9cf18bb9eee563","name":"TURN OFF SCADA  SERVER","style":{"fill":"#d1d1d1","label":true,"stroke":"#ff0000","color":"#001f60"},"nodes":["f79366ec3fbad9e2","04328bba2406a5aa","3e4279eee0e9ab6c","0d55e9c2c5fb6bc5","d347390626620809"],"x":74,"y":19,"w":712,"h":122},{"id":"7d66dde138ce9662","type":"group","z":"dc9cf18bb9eee563","name":"WEB SCADA","style":{"label":true},"nodes":["7d83c61ce99a5e56","1a5919b185482646","28c19cb31c2ce0ca","ba79835f165af39f","6f2947f55dbe82ab","57cb8b154b594e5a","4329ad05d76adabe","5be0a3dc751b1f66","aa4c7b314af1c6a0","a7a7ba75b3b3c70f","037526c6a8a2e2c5","f9d0ac47f1caa116","164af52a80c318ee","8b188171645d6e50","2daf16f707a2c111","5e2c96f2f0a5e7ac","15c459080127cb65","30f9ecc03c033b18","016b2c6eecb919f1","7f512ba8e6c36ac0","e3af69123c46daca","d02aabbbee0364bc","a1ba240e31b7e419","87335bfeb0f6e49f","50b6cd690c732a24","6b4d70a2d4f48f54","b24f2841bb3c7811","c99fde83c01dd48b","e6ff22fa83d9522a","cbd5e55d8dd25db6","96f3b67463449880","ced1b50a48001690","901e1b866a4b5a22"],"x":4,"y":159,"w":1002,"h":702},{"id":"aa367b78b9d27788","type":"group","z":"dc9cf18bb9eee563","name":"Debug","style":{"label":true},"nodes":["c90e2bfdff612558","41ec08af12443e92","b9ade0b955d0e967","38f74cb5b889df58","70d074262fa985dd","83b4978e5fae15f8","14e7cf4b6e13d14d","d452ecf024b97db4","a50a38bf237553d1"],"x":14,"y":1079,"w":552,"h":162},{"id":"1056a6713e893663","type":"group","z":"dc9cf18bb9eee563","name":"Socket Communication","style":{"label":true},"nodes":["0f7f09d7383af7a1","bae1b5a5c43184d4","0ff0bd740ca9b961","19192884c792fb1f"],"x":14,"y":919,"w":492,"h":142},{"id":"cf0ae1d58e6000b5","type":"mqtt-broker","name":"Brocker Local","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"89d1985a326c08dc","type":"sqlitedb","db":"/database","mode":"RWC"},{"id":"f79366ec3fbad9e2","type":"inject","z":"dc9cf18bb9eee563","g":"885fafb2509378d2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":60,"wires":[["04328bba2406a5aa"]]},{"id":"04328bba2406a5aa","type":"function","z":"dc9cf18bb9eee563","g":"885fafb2509378d2","name":"TURN OFF SERVER","func":"var Variable = global.get(\"Variable\");\nVariable.turnOff = 1\n// global.set('Variable.turnOff',0)\nmsg.payload = 'TURN OFF SERVER'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":60,"wires":[["3e4279eee0e9ab6c"]]},{"id":"3e4279eee0e9ab6c","type":"debug","z":"dc9cf18bb9eee563","g":"885fafb2509378d2","name":"Turn Off Server","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":60,"wires":[]},{"id":"0d55e9c2c5fb6bc5","type":"inject","z":"dc9cf18bb9eee563","g":"885fafb2509378d2","name":"Input License","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$2b$10$eLrGtpgjvfznyPbm3.RRuuLKuB2nz6o5jcBvq5hphgKlpiFY0exi6","payloadType":"str","x":190,"y":100,"wires":[["d347390626620809"]]},{"id":"d347390626620809","type":"function","z":"dc9cf18bb9eee563","g":"885fafb2509378d2","name":"SET LICENSE SCADA","func":"var VariableSystem = global.get(\"VariableSystem\");\n\nVariableSystem.license = msg.payload\nVariableSystem.checkActive = true\n\nmsg.payload = VariableSystem.active\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar VariableSystem = global.get(\"VariableSystem\");\n\nsetInterval(function () {\n    node.status({ fill: VariableSystem.active ? 'green' : 'red', shape: \"dot\", text: VariableSystem.active ? 'ACTIVED' : 'DEACTIVATED' })\n        , 1000\n})","finalize":"","libs":[],"x":400,"y":100,"wires":[[]]},{"id":"7d83c61ce99a5e56","type":"inject","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name":"Write","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":360,"wires":[["1a5919b185482646","57cb8b154b594e5a","e6ff22fa83d9522a","901e1b866a4b5a22"]]},{"id":"1a5919b185482646","type":"function","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name":"Config Project","func":"var PLC = global.get(\"FinsClient\");\nvar VariableSystem = global.get(\"VariableSystem\");\nvar SubFunction = global.get(\"SubFunction\");\nvar sqlite3 = global.get(\"sqlite3\");\n\nvar Sql_link = \"db/OmronTraining.db\"\nnode.warn(JSON.stringify(Sql_link))\n\nSubFunction.setLogServer(JSON.stringify(Sql_link))\nVariableSystem.LocalDB = new sqlite3.Database(Sql_link);\nVariableSystem.RefreshData = true\n\nnode.warn(PLC)\nmsg.payload = { PLC }\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":300,"wires":[["6f2947f55dbe82ab","30f9ecc03c033b18","b24f2841bb3c7811","cbd5e55d8dd25db6"]],"icon":"font-awesome/fa-gear","info":"CONFIG PROJECT"},{"id":"28c19cb31c2ce0ca","type":"function","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name":"PROCESS CLIENT","func":"var VariableSystem = global.get(\"VariableSystem\");\nvar SubFunction = global.get(\"SubFunction\");\nvar Variables = global.get(\"Variable\");\n\nlet data=msg.payload\nif (data.idDevice == 0) {\n    SubFunction.ProcessSocketIO_System(data)\n}\nif (data.idDevice == 2 || data.idDevice == 3) {\n    SubFunction.ProcessSocketIO_Fins(data)\n}\nif (data.idDevice == 1) {\n    SubFunction.ProcessSocketIO_Modbus_Server(data)\n    //BitAdjust\n    if (data.NameCommand === 'BitAdjustForce' && !isNaN(data.tag)) {\n        if (data.tag !== '') {\n            Variables.StoreModbusServerBit[parseInt(data.idDevice)][parseInt(VariableSystem.PLC_BitStartBitAdjust[parseInt(data.idDevice)]) + parseInt(data.tag)] = !Variables.StoreModbusServerBit[parseInt(data.idDevice)][parseInt(VariableSystem.PLC_BitStartBitAdjust[parseInt(data.idDevice)]) + parseInt(data.tag)]\n        }\n    }\n    // //WordAdjust\n    if (data.NameCommand === 'WordAdjustForce' && !isNaN(data.tag)) {\n        if (data.tag !== '') {\n            Variables.StoreModbusServerReg[parseInt(data.idDevice)][parseInt(VariableSystem.PLC_WordStartWordAdjust[parseInt(data.idDevice)]) + parseInt(data.tag)] = data.value\n        }\n    }\n}\nif (data.NameCommand === 'BitAdjustForce' && isNaN(data.tag)) {\n    let TempArr = data.tag.split('_')\n    if (data.NameCommand === 'BitAdjustForce' && (TempArr[0] === \"MobileRobot\")) {\n        node.warn('Mobile Robot:\\r\\n' + TempArr[1] + '\\r\\n')\n        VariableSystem.COMMUNICATION_MOBILE_ROBOT[2].write(TempArr[1] + '\\r\\n')\n    }\n}\n\n        // //WordAdjust\n        // if (data.NameCommand === 'WordAdjustForce' && isNaN(data.tag)) {\n        //     if (data.tag !== '') {\n        //         node.warn(data.value);\n        //         Variables.WordAdjust[parseInt(data.idDevice)][parseInt(data.tag)] = data.value\n        //     }\n        // }\n        // if (data.NameCommand === 'WordAdjustForce' && !isNaN(data.tag)) {\n        //     if (data.tag !== '') {\n        //         Variables.WordAdjust[parseInt(data.idDevice)][parseInt(data.tag)] = data.value\n        //     }\n        // }\n        // //TextField Input\n        // if (data.NameCommand === 'TextFieldInput' && !isNaN(data.tag)) {\n        //     if (data.tag !== '') {\n        //         Variables.ListString[1][parseInt(data.tag)] = data.value\n        //     }\n        // }\n\n\n// VariableSystem.IO.sockets.emit('RELOAD')\n// VariableSystem.IO.removeAllListeners('connection')\n;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":260,"wires":[[]]},{"id":"ba79835f165af39f","type":"inject","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name":"","props":[{"p":"payload"},{"p":"topic","v":"[{\"dataField\":\"Package\",\"capture\":\"Package\",\"width\":\"auto\"},{\"dataField\":\"Product\",\"capture\":\"Product\",\"width\":\"auto\"},{\"dataField\":\"LotId\",\"capture\":\"LotID\",\"width\":\"auto\"},{\"dataField\":\"Destination\",\"capture\":\"Destination\",\"width\":\"100\"},{\"dataField\":\"Quantity\",\"capture\":\"Quantity\",\"width\":\"100\"},{\"dataField\":\"Remark\",\"capture\":\"Remark\",\"width\":\"auto\"},{\"dataField\":\"User\",\"capture\":\"User\",\"width\":\"80\"},{\"dataField\":\"TypeReport\",\"capture\":\"TypeReport\",\"width\":\"100\"}]","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":480,"wires":[["57cb8b154b594e5a"]]},{"id":"6f2947f55dbe82ab","type":"plc_omron","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name":"PLC NX102","host":"192.168.1.13","port":"9600","indexPLC":"2","topic":"","PLC_WriteUnSafe":"1","PLC_Interval":"300","PLC_Length_ReadWrite":"1000","PLC_Word_Start_ReadWrite":"0","PLC_WordStartElement":"0","PLC_LengthOfWordElement":"100","PLC_WordStartBitDisplay":"100","PLC_LengthOfWordBitDisplay":"10","PLC_WordStartBitAdjust":"110","PLC_LengthOfWordBitAdjust":"10","PLC_WordStartWordDisplay":"120","PLC_LengthOfWordWordDisplay":"100","PLC_WordStartWordAdjust":"220","PLC_LengthOfWordWordAdjust":"100","PLC_WordStartDWordDisplay":"320","PLC_LengthOfWordDWordDisplay":"25","PLC_WordStartDWordAdjust":"370","PLC_LengthOfWordDWordAdjust":"25","PLC_WordStartComPC":"1000","PLC_LengthOfWordComPC":"0","PLC_IntervalWriteData":"500","PLC_Enable_String":"0","PLC_WordStartString":"2000","PLC_LengthOfWordString":"500","PLC_NumberWordInString":"20","x":610,"y":200,"wires":[[]]},{"id":"57cb8b154b594e5a","type":"Scada Web Begin","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","x":280,"y":480,"wires":[["5e2c96f2f0a5e7ac"]]},{"id":"4329ad05d76adabe","type":"Scada Web End","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","x":750,"y":820,"wires":[]},{"id":"5be0a3dc751b1f66","type":"Scada Web Page","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name_page":"BASIC 1","width":"1450","height":"655","backgroundColor":"457b9d","backgroundImage":"2","idPage":"Scada","scale":"100","header_hide":0,"x":160,"y":540,"wires":[["f9d0ac47f1caa116"]]},{"id":"aa4c7b314af1c6a0","type":"http in","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name":"/ConfigPage","url":"/ConfigPage","method":"get","upload":false,"swaggerDoc":"","x":110,"y":820,"wires":[["a7a7ba75b3b3c70f"]]},{"id":"a7a7ba75b3b3c70f","type":"function","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name":"Get DB","func":"\nmsg.payload=global.get(\"ConfigPageServer\")\nnode.send(msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":820,"wires":[["037526c6a8a2e2c5"]]},{"id":"037526c6a8a2e2c5","type":"http response","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name":"Response","statusCode":"200","headers":{"content-type":"application/json"},"x":440,"y":820,"wires":[]},{"id":"f9d0ac47f1caa116","type":"Scada Web Page","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name_page":"BASIC 2","width":"1450","height":"655","backgroundColor":"457b9d","backgroundImage":"2","idPage":"Scada_Basic2","scale":"100","header_hide":0,"x":340,"y":540,"wires":[["164af52a80c318ee"]]},{"id":"164af52a80c318ee","type":"Scada Web Page","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name_page":"SYSMAC 1","width":"1450","height":"655","backgroundColor":"457b9d","backgroundImage":"2","idPage":"Scada_Sysmac1","scale":"100","header_hide":0,"x":530,"y":540,"wires":[["8b188171645d6e50"]]},{"id":"8b188171645d6e50","type":"Scada Web Page","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name_page":"SYSMAC 2","width":"1450","height":"655","backgroundColor":"457b9d","backgroundImage":"2","idPage":"Scada_Sysmac2","scale":"100","header_hide":0,"x":730,"y":540,"wires":[["6b4d70a2d4f48f54"]]},{"id":"2daf16f707a2c111","type":"Scada Web Page","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name_page":"Training KPI","width":"1450","height":"655","backgroundColor":"457b9d","backgroundImage":"2","idPage":"Scada5","scale":"100","header_hide":0,"x":210,"y":640,"wires":[["7f512ba8e6c36ac0"]]},{"id":"5e2c96f2f0a5e7ac","type":"Scada Web URL","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name_page":"USER","url":"User","scale":100,"x":450,"y":480,"wires":[["5be0a3dc751b1f66"]]},{"id":"15c459080127cb65","type":"Scada Web URL","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name_page":"Download PDF","url":"DownloadPDF","scale":100,"x":740,"y":480,"wires":[[]]},{"id":"30f9ecc03c033b18","type":"plc_omron","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name":"PLC NJR","host":"192.168.1.10","port":"9600","indexPLC":"3","topic":"","PLC_WriteUnSafe":"1","PLC_Interval":"300","PLC_Length_ReadWrite":"1000","PLC_Word_Start_ReadWrite":"0","PLC_WordStartElement":"0","PLC_LengthOfWordElement":"100","PLC_WordStartBitDisplay":"100","PLC_LengthOfWordBitDisplay":"10","PLC_WordStartBitAdjust":"110","PLC_LengthOfWordBitAdjust":"10","PLC_WordStartWordDisplay":"120","PLC_LengthOfWordWordDisplay":"100","PLC_WordStartWordAdjust":"220","PLC_LengthOfWordWordAdjust":"100","PLC_WordStartDWordDisplay":"320","PLC_LengthOfWordDWordDisplay":"25","PLC_WordStartDWordAdjust":"370","PLC_LengthOfWordDWordAdjust":"25","PLC_WordStartComPC":"1000","PLC_LengthOfWordComPC":"0","PLC_IntervalWriteData":"500","PLC_Enable_String":"0","PLC_WordStartString":"2000","PLC_LengthOfWordString":"500","PLC_NumberWordInString":"20","x":600,"y":260,"wires":[[]]},{"id":"016b2c6eecb919f1","type":"Scada Web Memonic","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name_page":"Bit Adjust","indexPLC":"3","word_start":"110","length_word":"10","type_memonic":"BitAdjust","number_word_for_string":20,"x":380,"y":760,"wires":[["d02aabbbee0364bc"]]},{"id":"7f512ba8e6c36ac0","type":"Scada Web Page","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name_page":"Horizontal Machine","width":"1952","height":"962","backgroundColor":"457b9d","backgroundImage":"HorizontalMachine","idPage":"Scada6","scale":"68","header_hide":0,"x":430,"y":640,"wires":[["87335bfeb0f6e49f"]]},{"id":"e3af69123c46daca","type":"Scada Web Memonic","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name_page":"Bit Display","indexPLC":"3","word_start":"100","length_word":"10","type_memonic":"BitDisplay","number_word_for_string":20,"x":140,"y":760,"wires":[["016b2c6eecb919f1"]]},{"id":"d02aabbbee0364bc","type":"Scada Web Memonic","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name_page":"Word Display","indexPLC":"3","word_start":"120","length_word":"200","type_memonic":"WordDisplay","number_word_for_string":20,"x":620,"y":760,"wires":[["a1ba240e31b7e419"]]},{"id":"a1ba240e31b7e419","type":"Scada Web Memonic","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name_page":"Word Adjust","indexPLC":"3","word_start":"320","length_word":"200","type_memonic":"WordAdjust","number_word_for_string":20,"x":870,"y":760,"wires":[["4329ad05d76adabe"]]},{"id":"87335bfeb0f6e49f","type":"Scada Web Memonic","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name_page":"BitAdjust- System","indexPLC":"0","word_start":"0","length_word":"20","type_memonic":"BitAdjust","number_word_for_string":20,"x":160,"y":700,"wires":[["50b6cd690c732a24"]]},{"id":"50b6cd690c732a24","type":"Scada Web Memonic","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name_page":"BitDisplay- System","indexPLC":"0","word_start":"20","length_word":"20","type_memonic":"BitDisplay","number_word_for_string":20,"x":450,"y":700,"wires":[["e3af69123c46daca"]]},{"id":"6b4d70a2d4f48f54","type":"Scada Web Page","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name_page":"Mobile Robot","width":"1450","height":"655","backgroundColor":"457b9d","backgroundImage":"2","idPage":"Scada_MobileRobot","scale":"100","header_hide":0,"x":180,"y":580,"wires":[["2daf16f707a2c111"]]},{"id":"b24f2841bb3c7811","type":"Omron Mobile Robot","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name":"","host":"192.168.1.100","password":"omron","port":"7171","indexPLC":"4","x":620,"y":320,"wires":[[]]},{"id":"c99fde83c01dd48b","type":"debug","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name":"debug 46","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":380,"wires":[]},{"id":"0f7f09d7383af7a1","type":"tcp in","z":"dc9cf18bb9eee563","d":true,"g":"1056a6713e893663","name":"Server","server":"server","host":"","port":"9876","datamode":"stream","datatype":"utf8","newline":"","topic":"Server","trim":false,"base64":false,"tls":"","x":110,"y":960,"wires":[["19192884c792fb1f"]]},{"id":"bae1b5a5c43184d4","type":"tcp out","z":"dc9cf18bb9eee563","d":true,"g":"1056a6713e893663","name":"Client","host":"127.0.0.1","port":"6000","beserver":"client","base64":false,"end":true,"tls":"","x":430,"y":1020,"wires":[]},{"id":"0ff0bd740ca9b961","type":"inject","z":"dc9cf18bb9eee563","g":"1056a6713e893663","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"400|10|91","payloadType":"str","x":120,"y":1020,"wires":[["bae1b5a5c43184d4"]]},{"id":"19192884c792fb1f","type":"debug","z":"dc9cf18bb9eee563","g":"1056a6713e893663","name":"debug 47","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":280,"y":960,"wires":[]},{"id":"c90e2bfdff612558","type":"inject","z":"dc9cf18bb9eee563","g":"aa367b78b9d27788","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1160,"wires":[["41ec08af12443e92"]]},{"id":"41ec08af12443e92","type":"function","z":"dc9cf18bb9eee563","g":"aa367b78b9d27788","name":"BIT MODBUS","func":"var Variables = global.get(\"Variable\");\nmsg.payload = Variables.StoreModbusServerBit\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":1160,"wires":[["b9ade0b955d0e967"]]},{"id":"b9ade0b955d0e967","type":"debug","z":"dc9cf18bb9eee563","g":"aa367b78b9d27788","name":"debug 42","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":1160,"wires":[]},{"id":"38f74cb5b889df58","type":"inject","z":"dc9cf18bb9eee563","g":"aa367b78b9d27788","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1120,"wires":[["70d074262fa985dd"]]},{"id":"70d074262fa985dd","type":"function","z":"dc9cf18bb9eee563","g":"aa367b78b9d27788","name":"function 21","func":"var Variables = global.get(\"Variable\");\nvar VariableSystem = global.get(\"VariableSystem\");\nmsg.payload = Variables.WordDisplay\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":1120,"wires":[["83b4978e5fae15f8"]]},{"id":"83b4978e5fae15f8","type":"debug","z":"dc9cf18bb9eee563","g":"aa367b78b9d27788","name":"debug 44","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":1120,"wires":[]},{"id":"14e7cf4b6e13d14d","type":"debug","z":"dc9cf18bb9eee563","g":"aa367b78b9d27788","name":"debug 45","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":1200,"wires":[]},{"id":"d452ecf024b97db4","type":"function","z":"dc9cf18bb9eee563","g":"aa367b78b9d27788","name":"WORD MODBUS","func":"var Variables = global.get(\"Variable\");\nmsg.payload = Variables.StoreModbusServerReg\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1200,"wires":[["14e7cf4b6e13d14d"]]},{"id":"a50a38bf237553d1","type":"inject","z":"dc9cf18bb9eee563","g":"aa367b78b9d27788","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1200,"wires":[["d452ecf024b97db4"]]},{"id":"e6ff22fa83d9522a","type":"function","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name":"Simulate Rotate run","func":"var Variables = global.get(\"Variable\");\nvar VariableSystem = global.get(\"VariableSystem\");\nsetInterval(()=>{\n    Variables.WordDisplay[0][1] -= 10;\n    Variables.WordDisplay[0][2] = -Variables.WordDisplay[0][1] + 180;\n\n    if (Variables.WordDisplay[0][1] < -360) {\n        Variables.WordDisplay[0][1] = 0\n    }\n    Variables.ListString[0][1] = Variables.WordDisplay[0][1];\n},100)\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":440,"wires":[[]]},{"id":"199df35d43a0504a","type":"inject","z":"dc9cf18bb9eee563","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":700,"y":920,"wires":[["94e43fa17419ba13"]]},{"id":"94e43fa17419ba13","type":"function","z":"dc9cf18bb9eee563","name":"function 24","func":"var VariableSystem = global.get(\"VariableSystem\");\nnode.warn(JSON.stringify(VariableSystem.IO))\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":920,"wires":[[]]},{"id":"f534b76789367ac8","type":"inject","z":"dc9cf18bb9eee563","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":700,"y":1020,"wires":[["0554acf6ca4bbbc8"]]},{"id":"0554acf6ca4bbbc8","type":"function","z":"dc9cf18bb9eee563","name":"function 25","func":"var Variables = global.get(\"Variable\");\nvar active = global.get(\"active\");\nif(!Variables.WordDisplay[1][1]){\nVariables.WordDisplay[1][1]=1\n}\nVariables.WordDisplay[1][1]=Variables.WordDisplay[1][1]+1\nnode.warn(active);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1020,"wires":[[]]},{"id":"cbd5e55d8dd25db6","type":"plc_modbus_server","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name":"","host":"localhost","port":502,"unitID":0,"indexPLC":"1","topic":"","PLC_BitStartBitDisplay":0,"PLC_LengthOfBitBitDisplay":200,"PLC_BitStartBitAdjust":0,"PLC_Code_BitAdjust":100,"PLC_LengthOfBitBitAdjust":200,"PLC_WordStartElement":0,"PLC_LengthOfWordElement":100,"PLC_WordStartWordDisplay":100,"PLC_LengthOfWordWordDisplay":200,"PLC_WordStartWordAdjust":300,"PLC_LengthOfWordWordAdjust":200,"PLC_Code_WordAdjust":101,"PLC_WordStartDWordDisplay":500,"PLC_LengthOfWordDWordDisplay":50,"PLC_WordStartDWordAdjust":600,"PLC_LengthOfWordDWordAdjust":50,"PLC_Code_DWordAdjust":102,"PLC_WordStartRotate":700,"PLC_LengthOfWordRotate":100,"PLC_WordStartComPC":1000,"PLC_LengthOfWordComPC":10,"PLC_Enable_String":"False","PLC_WordStartString":2000,"PLC_LengthOfWordString":20,"PLC_NumberWordInString":1000,"x":630,"y":380,"wires":[["c99fde83c01dd48b"]]},{"id":"96f3b67463449880","type":"aedes broker","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name":"","mqtt_port":"1883","mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","persistence_bind":"memory","dburl":"","usetls":false,"x":130,"y":200,"wires":[[],[]]},{"id":"ced1b50a48001690","type":"mqtt in","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name":"","topic":"Client-send-data","qos":"0","datatype":"auto-detect","broker":"cf0ae1d58e6000b5","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":260,"wires":[["28c19cb31c2ce0ca"]]},{"id":"901e1b866a4b5a22","type":"function","z":"dc9cf18bb9eee563","g":"7d66dde138ce9662","name":"PROCESS","func":"// var Variable = global.get(\"Variable\");\nvar VariableSystem = global.get(\"VariableSystem\");\nvar SubFunction = global.get(\"SubFunction\");\nvar Variables = global.get(\"Variable\");\n\nVariables.Percent[0] = new Array(20).fill(0);\nVariables.BitAdjust[0] = new Array(20).fill(0);\nVariables.BitDisplay[0] = new Array(20).fill(0);\nVariables.WordAdjust[0] = new Array(20).fill(0);\nVariables.WordDisplay[0] = new Array(20).fill(0);\nVariables.DWordAdjust[0] = new Array(20).fill(0);\nVariables.DWordDisplay[0] = new Array(20).fill(0);\nVariables.ListString[0] = new Array(20).fill('---');\nVariables.TextField[0] = new Array(20).fill('---');\nVariables.TextFieldInput[0] = new Array(10).fill(0);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":360,"wires":[[]]}]